[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/asakura000/csc_448_Sakurai/blob/main/Atsuko_Data_Wrangling.ipynb)

In [ ]:
import pandas as pd
import numpy as np

In [2]:
csv_url = 'https://raw.githubusercontent.com/profmcnich/example_notebook/main/science_data_large.csv'

In [3]:
df = pd.read_csv(csv_url)

In [4]:
df.head()

   Temperature °C  Mols KCL     Size nm^3
0             469       647  6.244743e+05
1             403       694  5.779610e+05
2             302       975  6.196847e+05
3             779       916  1.460449e+06
4             901        18  4.325726e+04