[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/asakura000/csc_448_Sakurai/blob/main/Atsuko_Assignment_3.ipynb)

## Imports

In [6]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

## Part 1. Loading the dataset

In [2]:
csv_url = 'https://raw.githubusercontent.com/profmcnich/example_notebook/main/science_data_large.csv'

In [3]:
df = pd.read_csv(csv_url)

In [4]:
df.head()

   Temperature °C  Mols KCL     Size nm^3
0             469       647  6.244743e+05
1             403       694  5.779610e+05
2             302       975  6.196847e+05
3             779       916  1.460449e+06
4             901        18  4.325726e+04

In [17]:
type(df.loc[0])

pandas.core.series.Series

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Temperature °C  1000 non-null   int64
 1   Mols KCL        1000 non-null   int64
 2   Size nm^3       1000 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 23.6 KB

## Part 2. Splitting the dataset

In [7]:
df.columns

Index(['Temperature °C', 'Mols KCL', 'Size nm^3'], dtype='object')

In [8]:
my_features = ['Temperature °C', 'Mols KCL']
X = df[my_features]
y = df['Size nm^3']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)
print('Lenght of our Training data:', X_train.shape, '\nLength of our Testing data:', y_test.shape)

Lenght of our Training data: (900, 2)
Length of our Testing data: (100,)

## Part 3. Perform a Linear Regression

In [12]:
model = LinearRegression()
print(type(model))

<class 'sklearn.linear_model._base.LinearRegression'>

In [23]:
model.fit(X_train, y_train)

LinearRegression()

array([ 235911.1927226 ,  830451.79732027,  969401.72391381,
       1326783.358643  ,  884987.0194726 ,   45565.47278428,
        258437.07158696,  343780.52496405,  564054.54417373,
        458809.58094581,  661981.4155175 ,  271858.83784998,
        903037.34361731,   69482.60670887,  379028.57233118,
        759890.29754812,   82272.51567904,  456112.80060588,
        455253.66048099, 1209189.73365483,  -48211.69480861,
       -385772.63855955, 1181406.24213132,  726518.89857463,
        336685.73917576,  154234.6122294 ,  607815.96342049,
        802405.75147334,  965869.86487882,  126083.68608006,
        374198.19430497,  207569.65649033,  549129.16917369,
        690734.99958497,  448521.17137364,  923060.78891187,
        681538.61800052,  485528.84259863,  574708.98711403,
        888519.34559349,  427260.4083527 ,  122581.02641978,
        891216.12593342,  297249.44696507,  635710.40736308,
        955479.37751965,  547489.61241598,  535403.97206505,
        428268.10781756,  827755.01698035,  393616.179166  ,
       1263489.26542894, 1112311.21126119,  191472.83588771,
       -208148.62003809, 1000880.35352413,  570676.080862  ,
        569784.938847  ,  105630.20363716,  486163.50240687,
        947784.73632861,  862567.88925424,  243211.0682567 ,
        718247.99632477, 1185300.86493315,  385792.59624273,
        928993.00372966,  687066.72544338,  822952.43707116,
        333756.53805891,  959072.90490536,  208335.59346029,
        555989.19875557,  747398.21439279,   59020.1751092 ,
        887679.12895354,   12085.4568212 ,  -22026.41643474,
        811932.89493453,  436988.9048725 ,  269933.5995108 ,
        439394.39860018, 1011906.43486335,  709759.15296085,
        188216.14249542,  340584.09866479,  827755.48406625,
        328425.57990157,  490796.73114755,  651063.01699607,
       1086728.12371956, 1213150.69566636,  788705.08288042,
        520268.83646022, 1065876.60601842,  703960.08364837,
        852035.38175768,  889187.40854954,  936685.3094912 ,
       -296694.10474525])